*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    justify-content: center;
    
    font-size: x-large;
    position: relative;
    padding: 60px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right:1px solid rgba(255, 255, 255, 0.5) ;
    border-radius: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 25px 50px rgba(0 , 0, 1, 0.9);
    margin: auto;
}
a {
    color: rgb(83, 25, 219);
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

h1 {
    font-size: 65px;
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}
.remember-me {
    color: rgb(216, 180, 204);
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    margin: -20px 49px -15px 60px;
}
.text {
    display: flex;
}
input#remember-me {
    margin: -2px -7px -13px -66px;
}
label{
    margin: 10px 3px 10px;
    padding: 0 1px 100px;
}
.icons i {
    padding: 0.6rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.5);
}
.icons i:hover{
    background: #170f22;
}
.submit-btn {
    padding: 20px;
}
input {
    background: rgba(255, 255, 255, 0.8);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: black;

}

button {
    background: transparent;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0 , 0, 0, 0.3);
    font-weight: bold;
    font-size: 15px;
    margin: -13px 0px;
    color: rgb(4 169 247);
}
.input-box {
    font-size:xx-large;
}
p {
    font-size: small;
    padding: 0 20px;
}
.link {
    display: flex;
    justify-content: space-between;
    margin-top: 0.9rem;
    padding: 0 2rem;
    font-weight: bold;
}
.fa-facebook {
    color: blue;

}
.fa-google {
    color: green;

}
.fa-instagram {
    color:rgb(219, 16, 141) ;

}
.fa-linkedin {
    color: black;
    
}
